asgiref==3.5.2
Django==4.1.2
sqlparse==0.4.3
tzdata==2022.5
wheel==0.37.1

djangorestframework==3.14.0

git+https://github.com/k4anubhav/django-spotify-banner
git+https://github.com/k4anubhav/django-sworker-linkedin

whitenoise
uvicorn
gunicorn